@model PageScraper.ViewModels.ScrapedResults




<div id="outerForm">
    <section>
        <div class="album py-5 bg-light">
            <div class="container">
                @using (Ajax.BeginForm("GetScrapedResults", "Scrape", new AjaxOptions { UpdateTargetId = "outerForm", InsertionMode = InsertionMode.Replace }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        @Html.ValidationMessageFor(model => model.PageUrl, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.PageUrl)
                        @Html.TextBoxFor(model => model.PageUrl)
                        <button type="submit" class="button" id="reqButton">Get Page</button>
                    </div>

                    if (!string.IsNullOrWhiteSpace(Model?.ErrorMessage))
                    {
                        <div id="results" class="warning">
                            <p class="text-danger">@Model.ErrorMessage</p>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
    

    @if (!string.IsNullOrWhiteSpace(Model?.Source))
    {

        
                @Html.Partial("_Results", Model)



        
    }

    


</div>


